{% extends 'base.html.twig' %}

{% block title %}Announcement List{% endblock %}

{% block body %}

    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<style>
    .card{

    }
    .card-deck {
        margin-bottom: 50px;
    }
</style>
    <nav class="navbar navbar-expand-lg navbar-dark">
        <a class="navbar-brand" href="#">Announcements</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_annonce_new') }}">New Announcement</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_logout') }}">Logout</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container">
        <div class="search-box">
            {% include 'annonce/search.html.twig' %}
        </div>

        <div class="card-deck">

            {% for annonce in pagination %}
                <div class="col-md-4">
                    <div class="card">
                        <img src="{{ annonce.Images }}" class="card-img-top" alt="{{ annonce.Name }}">
                        <div class="card-body">
                            <h5 class="card-title">{{ annonce.Name }}</h5>
                            <p class="card-text">{{ annonce.Description }}</p>
                               {% if annonce.imagePath %}
                               <img src="{{ asset(annonce.imagePath) }}" alt="Image">
                             {% endif %}
                            <a href="{{ path('app_annonce_show', {'id': annonce.id}) }}" class="btn btn-primary">View Details</a>
                        </div>
                    </div>

                </div>
            {% endfor %}
        </div>

        {% if pagination is empty %}
            <p class="text-muted">No records found.</p>
        {% endif %}
    </div>

{% endblock %}
